spring:
  data:
    redis:
      host: redis
      port: 6379

  datasource:
    url: jdbc:postgresql://postgres:${DB_PORT}/${DB_NAME}
    username: ${DB_USER}
    password: ${DB_PASSWORD}
    driver-class-name: org.postgresql.Driver

  mail:
    host: ${MAIL_HOST}
    port: 587
    username: ${MAIL_USERNAME}
    password: ${MAIL_PASSWORD}
    properties:
      mail:
        debug: false
        smtp:
          connectiontimeout: 120000
          timeout: 120000
          writetimeout: 120000
          chunking: false
          auth: true
          ssl:
            enable: false
          starttls:
            enable: true

logging:
  level:
    application: INFO
    org.springframework: INFO
